<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://forms.office.com/r/w6T1QVigqr">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Connecting and Setup</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://carpentries-incubator.github.io/docker-introduction/">Introduction to Docker</a></td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:20</td>  <td>Introduction to Docker</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Introduction to Apptainer (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap Up - <a href="https://go.unl.edu/hcc_docker_end">End of Day feedback </a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Connecting and Setup</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://carpentries-incubator.github.io/apptainer-introduction/">Introduction to Apptainer </a></td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:20</td>  <td>Introduction to Apptainer (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Introduction to Apptainer (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap Up - <a href="https://go.unl.edu/hcc_apptainer_end">End of Workshop feedback </a></td>  </tr>
    </table>
  </div>
</div>
